@page
@model SeguiNutri.App.Frontend.Pages.Coachs.RegistrarCoachModel
@{
}
<h1>Nuevo Coach</h1>
<form method="post">

    <div class="form-group">
        <label>Cedula</label>
        <input asp-for="Coach.Cedula" class="form-control" required="required">
        <span class="text-danger" asp-validation-for="Coach.Cedula"></span>
    </div>

    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Coach.Nombre" class="form-control" required="required">
        <span class="text-danger" asp-validation-for="Coach.Nombre"></span>
    </div>

    <div class="form-group">
        <label>Apellido</label>
        <input asp-for="Coach.Apellido" class="form-control" required="required">
        <span class="text-danger" asp-validation-for="Coach.Apellido"></span>
    </div>

    <div class="form-group">
        <label>Fecha De Nacimiento</label>
        <input asp-for="Coach.FechaNacimiento" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input asp-for="Coach.Correo" class="form-control" required="required">
        <span class="text-danger" asp-validation-for="Coach.Correo"></span>
    </div>

    <div class="form-group">
        <label>Telefono</label>
        <input asp-for="Coach.Telefono" class="form-control" required="required">
        <span class="text-danger" asp-validation-for="Coach.Telefono"></span>
    </div>



    <div class="form-group mx-sm-3 mb-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./Coachs" class="btn btn-primary">Cancelar</a>
    </div>

</form>