@page
@model SeguiNutri.App.Frontend.Pages.EliminarNutricionistaModel
@{
}
<h1>Confirmar</h1>
<p>¿Desea eliminar este nutricionista? @Model.Nutricionista.Nombre</p>
<form method="post" class="mt-3">
   
    <input hidden asp-for="Nutricionista.Id"/>
    <button type="submit" class="btn btn-primary">Si</button>
    <a class="btn btn-primary table-btn"asp-page="../Nutricionistas/Index">No</a>

</form>