@page
@model SeguiNutri.App.Frontend.Pages.IntroModel
@{
}
<h1>Lista de Pacientes</h1>

<table>
    <thead>
    <tr>
        <th scope="col" >Cedula</th>
        <th scope="col" >Nombre</th>
        <th scope="col" >Apellido</th>
        <th scope="col" >Fecha De Nacimiento</th>
        <th scope="col" >Correo</th>
        <th scope="col" >Telefono</th>
        <th scope="col" >Contraseña</th>
    </tr>
    </thead>
</table>