@page
@model SeguiNutri.App.Frontend.Pages.Pacientes.RegistrarModel
@{
}
<h1>Nuevo Paciente</h1>
<form method="post">
 
<div class="form-group">
    <label asp-for="Paciente.Cedula"></label>
    <input asp-for="Paciente.Cedula" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.Nombre"></label>
    <input asp-for="Paciente.Nombre" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.Apellido"></label>
    <input asp-for="Paciente.Apellido" class="form-control">
</div>
 
<div class="form-group">
    <label>Fecha De Nacimiento</label>
    <input asp-for="Paciente.FechaNacimiento" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.Correo"></label>
    <input asp-for="Paciente.Correo" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.Telefono"></label>
    <input asp-for="Paciente.Telefono" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.IdPaciente"></label>
    <input asp-for="Paciente.IdPaciente" class="form-control">
</div>
 
<div class="form-group">
    <label asp-for="Paciente.Contraseña"></label>
    <input asp-for="Paciente.Contraseña" class="form-control">
</div>
 
<buttont type="submit" class="btn btn.primary">Registrarse</button>
 
</form>