@page
@model SeguiNutri.App.Frontend.Pages.LoginModel
@{
}


<body class="login">
    
    <div class="login-box">
        <img src="https://www.w3schools.com/images/lamp.jpg" class="avatar" alt="imagen prueba">
        <h1>Login</h1>
        <form>
            <!-- username -->
            <label for="username">Usuario</label>
            <input type="text" placeholder="Entre usuario">

            <!-- contraseña -->
            <label for="contraseña">Contraseña</label>
            <input type="password" placeholder="Entre clave">

            <!-- boton login -->
            <input type="submit" value="Log In">
            
            <a href="#" data-toggle="modal" data-target="#exampleModal">Registrarse</a><br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
            </button>
        </form>
    </div>
</body>