@page
@model SeguiNutri.App.Frontend.Pages.PruebaModel
@{
}
<h1>Prueba</h1>
<table class="table">
    @foreach (var lista in Model.listaHtm)
    {
        <tr>
            <td>@lista</td>
        </tr>
    }
</table>