@page
@using SeguiNutri.App.Dominio
@model SeguiNutri.App.Frontend.Pages.RegistroNutricional.EliminarModel
@{
}
<h1>Eliminación Registro datos </h1>
<h1>Confirmar</h1>
<p>¿Desea eliminar este registro nutricional? </p>
<form method="post">
    <div class="form-group">
        <label asp-for="registroDatos.Id"></label>
        <input asp-for="registroDatos.Id" class="form-control" readonly>
    </div>
    <div>
        <label asp-for="registroDatos.Id_Paciente"></label>
        <input asp-for="registroDatos.Id_Paciente" class="form-control" readonly>
    </div>
   
    <button type="submit" class="btn btn-primary">Si</button>
    <a asp-page="./RegistroNutricional" class="btn btn-primary">No</a>

</form>